<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBdvufstwt96uT29SpLPPU5WV7I3BTtCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>337668274409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutterauthtemplate-8a7a8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauthtemplate-8a7a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337668274409:ios:a7183a03f1c3335e619878</string>
</dict>
</plist>